.THIS .slds-icon-utility-light-bulb {
    fill : rgb(184, 204, 18);
}
.THIS .slds-icon-utility-like.slds-icon_container{
    border : 3px solid;
}
.THIS .slds-icon-utility-dislike.slds-icon_container{
    border : 3px solid;
}